<script setup>
import Digit from "./Digit.vue";
</script>

<script>
export default {
  data() {
    return {
      time: this.getTimeArr(),
      dotColor: 'white',
      timer: undefined,
    }
  },
  methods: {
    setTime() {
      this.time = this.getTimeArr()
      this.dotColor = this.getDotColor(this.time[2][1])
    },
    getTimeArr() {
      const date = new Date()
      const [hours, minutes, seconds] = [date.getHours(), date.getMinutes(), date.getSeconds()]
      return [[Math.trunc(hours/10), hours%10], [Math.trunc(minutes/10), minutes%10],[Math.trunc(seconds/10), seconds%10]]
    },
    getDotColor(sec) {
      return sec % 2 === 0 ? 'black' : 'white'
    }
  },
  beforeMount() {
    this.timer = setInterval(this.setTime, 999)
  },
  beforeUnmount() {
    clearInterval(this.timer)
  }
}
</script>

<template>
  <Digit v-for="hours in time[0]" :digit="hours"/>
  <div class="dots-wrapper">
    <div class="dot-wrapper">
      <svg class="svg-content" :style="{fill: dotColor}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid meet">
        <circle r="25" cx="25" cy="25"></circle>
      </svg>
    </div>
    <div class="dot-wrapper">
      <svg class="svg-content" :style="{fill: dotColor}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid meet">
        <circle r="25" cx="25" cy="25"></circle>
      </svg>
    </div>
  </div>
  <Digit v-for="minutes in time[1]" :digit="minutes"/>
  <div class="dots-wrapper">
    <div class="dot-wrapper">
      <svg class="svg-content" :style="{fill: dotColor}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid meet">
        <circle r="25" cx="25" cy="25"></circle>
      </svg>
    </div>
    <div class="dot-wrapper">
      <svg class="svg-content" :style="{fill: dotColor}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid meet">
        <circle r="25" cx="25" cy="25"></circle>
      </svg>
    </div>
  </div>
  <Digit v-for="seconds in time[2]" :digit="seconds"/>
</template>

<style scoped>
.dots-wrapper{
  width:15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dot-wrapper{
  width: 100%;
}
</style>