<template>
  <div class="svg-container">
    <svg class="svg-content" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114 210" preserveAspectRatio="xMidYMid meet" >
      <g :class="segmA"  class="a">
        <path d="M 12 10 L 22 0 H 92 L 102 10 L 92 20 H 22 L 12 10" />
      </g>
      <g :class="segmB" class="b">
        <path d="M 10 12 L 20 22 V 92 L 10 102 L 0 92 V 22 L 10 12" />
      </g>
      <g :class="segmC" class="c">
        <path d="M 12 104 L 22 94 H 92 L 102 104 L 92 114 H 22 L 12 104" />
      </g>
      <g :class="segmD" class="d">
        <path d="M 104 12 L 114 22 V 92 L 104 102 L 94 92 V 22 L 104 12" />
      </g>
      <g :class="segmE" class="e">
        <path d="M 10 106 L 20 116 V 188 L 10 198 L 0 188 V 116 L 10 106" />
      </g>
      <g :class="segmF" class="f">
        <path d="M 12 200 L 22 190 H 92 L 102 200 L 92 210 H 22 L 12 200" />
      </g>
      <g :class="segmG" class="g">
        <path d="M 104 106 L 114 116 V 188 L 104 198 L 94 188 V 116 L 104 106"/>
      </g>
    </svg>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        segmA: 'inactive',
        segmB: 'inactive',
        segmC: 'inactive',
        segmD: 'inactive',
        segmE: 'inactive',
        segmF: 'inactive',
        segmG: 'inactive',
      }
    },
    watch: {
      digit() {
        this.getClass()
      }
    },
    beforeMount() {
      this.getClass()
    },
    methods: {
      getClass() {
        switch (this.digit) {
          case 0:
            this.segmA = 'active'
            this.segmB = 'active'
            this.segmC = 'inactive'
            this.segmD = 'active'
            this.segmE = 'active'
            this.segmF = 'active'
            this.segmG = 'active'
            break
          case 1:
            this.segmA = 'inactive'
            this.segmB = 'inactive'
            this.segmC = 'inactive'
            this.segmD = 'active'
            this.segmE = 'inactive'
            this.segmF = 'inactive'
            this.segmG = 'active'
            break
          case 2:
            this.segmA = 'active'
            this.segmB = 'inactive'
            this.segmC = 'active'
            this.segmD = 'active'
            this.segmE = 'active'
            this.segmF = 'active'
            this.segmG = 'inactive'
            break
          case 3:
            this.segmA = 'active'
            this.segmB = 'inactive'
            this.segmC = 'active'
            this.segmD = 'active'
            this.segmE = 'inactive'
            this.segmF = 'active'
            this.segmG = 'active'
            break
          case 4:
            this.segmA = 'inactive'
            this.segmB = 'active'
            this.segmC = 'active'
            this.segmD = 'active'
            this.segmE = 'inactive'
            this.segmF = 'inactive'
            this.segmG = 'active'
            break
          case 5:
            this.segmA = 'active'
            this.segmB = 'active'
            this.segmC = 'active'
            this.segmD = 'inactive'
            this.segmE = 'inactive'
            this.segmF = 'active'
            this.segmG = 'active'
            break
          case 6:
            this.segmA = 'active'
            this.segmB = 'active'
            this.segmC = 'active'
            this.segmD = 'inactive'
            this.segmE = 'active'
            this.segmF = 'active'
            this.segmG = 'active'
            break
          case 7:
            this.segmA = 'active'
            this.segmB = 'inactive'
            this.segmC = 'inactive'
            this.segmD = 'active'
            this.segmE = 'inactive'
            this.segmF = 'inactive'
            this.segmG = 'active'
            break
          case 8:
            this.segmA = 'active'
            this.segmB = 'active'
            this.segmC = 'active'
            this.segmD = 'active'
            this.segmE = 'active'
            this.segmF = 'active'
            this.segmG = 'active'
            break
          case 9:
            this.segmA = 'active'
            this.segmB = 'active'
            this.segmC = 'active'
            this.segmD = 'active'
            this.segmE = 'inactive'
            this.segmF = 'active'
            this.segmG = 'active'
            break
          default:
            this.segmA = 'inactive'
            this.segmB = 'inactive'
            this.segmC = 'inactive'
            this.segmD = 'inactive'
            this.segmE = 'inactive'
            this.segmF = 'inactive'
            this.segmG = 'inactive'
            break
        }
      }
    },
    props: {
      digit: Number
    }
  }
</script>

<style scoped>
.inactive {
  fill: grey;
  opacity: 0.1;
}
.active {
  fill: black;
}
.svg-container {
  display: inline-block;
  width: 100%;
  margin: 1vh 1vw;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
  display: inline;
}
</style>