<script setup>
import Digit from "./Digit.vue";
</script>

<script>
export default {
  data() {
    return {
      digitsBeforeDec: [],
      digitsAfterDec: [],
    }
  },
  methods:{
    transformProps(number, quantity, decimal) {
      if (typeof number !== "number") {
        return [[...new Array(quantity - decimal - 1).fill(NaN), 0],
          new Array(decimal).fill(0)]
      }
      let decimString = number.toFixed(decimal)
      if (decimString.length > quantity + 1) {
        return [new Array(quantity - decimal).fill(9), new Array(decimal).fill(9)]
      }
      if (decimString.length < quantity + 1) {
        // 'O' is letter here, to receive NaN
        decimString = 'O'.repeat(quantity + 1 - decimString.length) + decimString
      }
      const digArr = decimString.split('')
      return [digArr.slice(0, quantity-2).map(el => parseInt(el)), digArr.slice(-decimal).map(el => parseInt(el))]
    },
  },
  beforeMount() {
    [this.digitsBeforeDec, this.digitsAfterDec] = this.transformProps(this.displayNumber, this.digitsQuantity, this.decimalPlaces)
  },
  watch: {
    displayNumber() {
      [this.digitsBeforeDec, this.digitsAfterDec] = this.transformProps(this.displayNumber, this.digitsQuantity, this.decimalPlaces)
    },
  },
  props: {
    digitsQuantity: Number,
    displayNumber: Number,
    decimalPlaces: Number,
  }
}
</script>

<template>
  <div class="wrapper">
    <Digit v-for="digit in digitsBeforeDec" :digit="digit"/>
    <div class="dot-container">
      <svg class="svg-content" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" preserveAspectRatio="xMidYMid meet">
        <circle r="25" cx="25" cy="25" fill="black"></circle>
      </svg>
    </div>
    <Digit v-for="digit in digitsAfterDec" :digit="digit"/>
  </div>
</template>

<style scoped>
  .wrapper {
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .dot-container {
    width:10vw;
    display: flex;
    align-items: end;
    margin: 10px 10px
  }
</style>