<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import Display from "./components/Display.vue";
import Clock from "./components/Clock.vue"</script>

<script>
  export default {
    data() {
      return {
        left: 24,
        right: 6,
      }
    },
    computed: {
      bottom() {
        if (!this.right) return ''
        return ((this.left - this.right)/this.right)*100
      },
    },
  }
</script>

<template>

  <div class="container">
    <div class="topBlock">
      <Clock/>
    </div>
    <div class="leftBlock">
      <div class="addWrap wrapper">
        <Display :decimal-places=2 :digits-quantity=6 :display-number='left'/>
      </div>
      <input type="number" v-model="left" class="input"/>
    </div>
    <div class="rightBlock">
      <div class="addWrap wrapper">
        <Display :decimal-places=2 :digits-quantity=6 :display-number='right'/>
      </div>
      <input type="number" v-model="right" class="input"/>
    </div>
    <div class="bottomBlock">
      <div class="svg-container">
        <svg class="svg-content" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 114 210"
             preserveAspectRatio="xMidYMid meet">
          <g :class="bottom>0 ? '' : 'opacity_o'">
            <path d="M 57 0 L 0 100 H 114 L 57 0" fill="green"></path>
          </g>
          <g :class="bottom<0 ? '' : 'opacity_o'">
            <path d="M 57 210 L 0 110 H 114 L 57 210" fill="red"></path>
          </g>
        </svg>
      </div>
      <div class="addWrap wrapper">
        <Display :decimal-places=2 :digits-quantity=5 :display-number='bottom'/>
      </div>
    </div>
  </div>
</template>

<style scoped>
.topBlock {
  display: flex;
  justify-content: space-evenly;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.addWrap {
  display: flex;
  justify-content: space-evenly;
}
.leftBlock{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightBlock{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottomBlock{
  display: flex;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}
.wrapper {
  margin: 10px 10px;
}
.container {
  margin-left: 10vw;
  width: 88vw;
  height: 97vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.svg-container {
  overflow: hidden;
}
.svg-content {
  display: inline;
}
.opacity_o {
  opacity: 0;
}
</style>
